
  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

.div{
  background-color:white;
  width: 280px;
  height: 100%;
  padding: 16px;
  border-radius: 16px;
  margin: auto;
  margin-top: 80px;

}
.qr{
  width: 100%;
  display: block;
  border-radius: 10px;
}
h1{
  font-size: 22px;
  text-align: center;
  font-family: Outfit;
  font-weight:700;
}
body{
  background-color:rgb(214, 226, 240);
  display: flex;
}
p{
  font-size: 16px;
  text-align: center;
  font-family: outfit;
  font-weight: 400;
}